*{
  text-decoration: none;
  list-style: none;
}

.App-header {
    width: 100%;
    height: 70px;
    background-color: #a5a5a555;
    
   }
   .Logo1{
     width: 150px;
     height: 130px;
     
   }
   .star{
     position: absolute;
     top: 15px;
     right: 90px;
   }
   .menu-button{
    position: absolute;
    top: 10px;
    right: 70px;
   }
   .menu-btn{
    position: absolute;
    top: 10px;
    right: 2px;
    cursor: pointer;
   }
  .menu-content{
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: rgba(255, 255, 255, 0.699);
    text-align: start;
    transition:  all .5s;

  }
  .menu-content li{
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition:  all .5s;
  }
  .menu-content li a{
    color: black;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
  }
  .menu-content li a.active, .menu-content li a:hover{
    color: blue;
    transition: .3s;
  }
  #menu-button{
    display: none;

  }
  #menu-button:checked ~ .menu-content{
    height: 100vh;
  }
  #menu-button:checked ~ .menu-content li{
   display: block;
  }

  @media only screen and (min-width: 768px) {
    .App-header {
    width: 100%;
    height: 100px;
    background-color: #a5a5a555;
    
   }
    
    .Logo1{
      width: 220px;
      height: 200px;
      
    }
    .star{
      position: absolute;
      top: 25px;
      right: 520px;
      width: 50px;
      height: 50px;
    }
    .menu-btn{
      display: none;
    }
    .menu-content{
      position: absolute;
      height: 100px;
      top: 30px;
      background: none;
      text-align: right;
      transition:  none;
      margin-right: 50px;
      
    }
    .menu-content li{
      display: inline-block;
      line-height: 10px;
      margin-right: 100px;
      margin-top: 0px;
      transition: none;
      
    }
    .menu-content li a{
      font-size: 22px;
      
    }
    .menu-content li a{
      color: #6457A6;
     
    }
    .menu-content li a.active, .menu-content li a:hover{
      color: #0D0A96;
      transition: .3s;
    }

  }
  
  